@import 'tailwindcss';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

body {
	color: white;
	background-color: black;
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
}

.link {
	text-decoration-line: underline;
}
